<div id="cards-list">
  {{#each artists}}
  <div class="card">
    {{#if this.images.[0].url}}
    <img src="{{this.images.0.url}}" alt="{{this.name}}">
    {{else}}
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="No photo for this artist">
    {{/if}}
    <div class="info">
      <p>{{this.name}}</p>
      <a href="/albums/{{this.id}}">View Albums</a>
    </div>
  </div>
  {{/each}}
</div>